$mobile--breakpoint: 800px;

$file-input-color: #dbd4ff;
$input-error-color: #ff4545;
$input-success-color: #2ee201;

$--c__blue_dark: #353B55;
$--c__white: #FFF;
$--c__violet: #8B2CF5;
$--c__orange: #EB8246;
$--c__red: #ff5b51;
$--c__light-blue: #F6F4FF;
$--c__grey: #999999;
$--c__light-violet: #DBD5FF;
$--c__blue: #4476F6;
$--c__dark-green: #509E82;
$--c__green: #31AC71;
$--c__light-green: #F3FFF4;
$--c__yellow: #FBF5BB;
$--c__black: #000;