@import "variables";

:root {
  --desktop-width-large: 1920px;
  --mobile--breakpoint: $mobile--breakpoint;
  --nav-width-large: 400px;

  --c__blue_dark: $--c__blue_dark;
  --c__white: $--c__white;
  --c__violet: $--c__violet;
  --c__orange: $--c__orange;
  --c__red: $--c__red;
  --c__light-blue: $--c__light-blue;
  --c__grey: $--c__grey;
  --c__light-violet: $--c__light-violet;
  --c__blue: $--c__blue;
  --c__dark-green: $--c__dark-green;
  --c__green: $--c__green;
  --c__light-green: $--c__light-green;
  --c__yellow: $--c__yellow;

  --f__mazzard-r: "Mazzard", sans-serif;
  --f__mazzard-sb: "Mazzard SemiBold", sans-serif;
  --f__mazzard-b: "Mazzard Bold", sans-serif;
  --f__montserrat-sb: "Montserrat", sans-serif;
  --transition-03: all .3s ease;
}

@font-face {
  font-family: "Mazzard";
  src: url("@fonts/Mazzard-Regular.woff");
  font-display: swap;
}

@font-face {
  font-family: "Mazzard SemiBold";
  src: url("@fonts/Mazzard-SemiBold.woff");
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Bold";
  src: url("@fonts/Mazzard-Bold.woff");
  font-display: swap;
}

@font-face {
  font-family: "Philosopher";
  src: url("@fonts/Philosopher_Regular.woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("@fonts/MontserratAlternates_SemiBold.woff");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Mazzard", sans-serif, Arial, Helvetica;
}

html {
  font-size: calc(100vw/137);
}

html, body, #app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden !important;
}

*.no-scroll {
  overflow: hidden !important;
}

#app {
  display: flex;
}

body p {
  height: unset !important;
  line-height: unset !important;
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.select-container {
  position: relative;
}

.select-container::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  height: 1rem;
  width: 1rem;
  transform: translateY(-50%);
  background: url(@images/Down-arrow.svg) no-repeat center/contain;
  pointer-events: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

* ::-webkit-scrollbar {
  width: .5rem;
  height: 0.5rem;
}

* ::-webkit-scrollbar-track {
  background-color: transparent;
}

* ::-webkit-scrollbar-thumb {
  border-radius: .25rem;
  overflow: hidden;
  background-color: #4ad34e;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(3rem);
}

/* .disabled-list-enter-active,
.disabled-list-leave-active {
	transition: all 0.5s ease;
}

.disabled-list-enter-from,
.disabled-list-leave-to {
	opacity: 0;
	transform: translateX(3rem);
} */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media screen and (max-width: 800px) {
  html {
    font-size: calc(100vw/45);
  }

  html, body, #app {
    height: auto;
  }

  #app {
    flex-direction: column;
  }

  * ::-webkit-scrollbar {
    width: 0;
  }

  * ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

body.apple p {
  height: 1em;
  line-height: 1.25em;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-row {
  flex-direction: row !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.flex-1 {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  p, td, th {
    font-size: 1.5rem;
  }

  th {
    text-align: start;
  }

  table {
    border-spacing: 2rem 1.5rem;
  }

  &__row,
  &__col {
    display: flex;
  }

  &__row {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    width: 100%;

    .form__file-input,
    .form__input,
    .form__textarea,
    .form__label {
      margin-bottom: 0 !important;
    }

    & + * {
      margin-top: 2.5rem;

      &.margin-top-low {
        margin-top: 1.5rem;
      }
    }
  }

  &__col {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex-grow: 1;

    .form__file-input:nth-last-child,
    .form__input:nth-last-child,
    .form__textarea:nth-last-child {
      margin-bottom: 0 !important;
    }
  }

  &__label,
  &__input,
  &__textarea {
    width: 100%;
  }

  &__checkbox {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
  }

  &__checkbox + &__label {
    margin-bottom: 0;
  }

  &__label {
    margin-bottom: 0.5rem;

    font: {
      family: "Mazzard SemiBold";
      size: 1.6rem;
    }
  }

  &__file-input {
    overflow: hidden;
  }

  &__file-input,
  &__input,
  &__textarea {
    margin-bottom: 1.2rem;
  }

  &__input,
  &__textarea {
    border: 0.1rem solid #999999;
    border-radius: 0.6rem;

    font: {
      size: 1.25rem;
    }

    height: 3rem;
    padding: 0 1rem;
  }

  &__textarea {
    height: auto;
    min-height: 10rem;
    max-height: 20rem;
    resize: vertical;
    padding: 0.5rem 1rem;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
    word-break: keep-all;
    background-color: transparent;

    &_bordered,
    &_unbordered {
      border-style: solid;
      border-width: 0.2rem;
      padding: 0.7rem 1.5rem;
    }

    &_bordered {
      border-color: $--c__violet;

      &.active {
        background-color: $--c__violet;
        color: $--c__white;
      }
    }

    &_unbordered {
      border-color: transparent;

      &.active {
        border-color: $--c__violet;
      }
    }
  }

  &__input select {
    border: 0;
    width: 100%;
    height: 100%;
    font-size: inherit;
    background-color: transparent;
  }

  button {
    margin-left: auto;
  }

  .select-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-bottom: 1.2rem;

    & > .form__input {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: $mobile--breakpoint) {
    max-width: unset;

    &__label {
      margin-bottom: 0.5rem;

      font: {
        size: 2.2rem;
      }
    }

    &__input,
    &__textarea {
      font: {
        size: 1.7rem;
      }

      padding: 0.8rem 1rem;
      height: auto;
    }

    button {
      // margin-top: 2rem;
    }
  }
}

._error {
  border-color: $input-error-color !important;
}

.icon-trash {
  fill: $input-error-color !important;
  height: 2.3rem;
  width: 2.3rem;
  cursor: pointer;
}

.subtitle {
  margin-bottom: 1rem;

  font: {
    size: 2rem;
    family: var(--f__mazzard-sb);
  }
}

.play-button,
.pause-button {
  fill: $--c__violet;
}